---
page_title: "boundary_group Resource - terraform-provider-boundary"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Resource `boundary_group`

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/resources/boundary_group/simple/resource.tf"}}

Usage for project-specific group:

{{tffile "examples/resources/boundary_group/project-specific/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}
