---
page_title: "boundary_scope Resource - terraform-provider-boundary"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Resource `boundary_scope`

{{ .Description | trimspace }}

## Example Usage

Creating the global scope:

{{tffile "examples/resources/boundary_scope/global.tf"}}

Creating an organization scope within global:

{{tffile "examples/resources/boundary_scope/organization.tf"}}

Creating an project scope within an organization:

{{tffile "examples/resources/boundary_scope/project.tf"}}

Creating an organization scope with a managed role for administration (auto create role set false):

{{tffile "examples/resources/boundary_scope/role.tf"}}

{{ .SchemaMarkdown | trimspace }}
