---
page_title: "Provider: Boundary"
subcategory: ""
description: |-
  Terraform provider for configuring Boundary.
---

# Boundary Provider

Terraform provider for configuring Boundary.

## Example Usage

Do not keep your authentication password in HCL for production environments, use Terraform environment variables.

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}