---
page_title: "boundary_user Data Source - terraform-provider-boundary"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# boundary_user (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/user/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
