name: "make-gen-delta"
on:
  - workflow_dispatch
  - push
  - pull_request
  - workflow_call

permissions:
  contents: read

jobs:
  make-gen-delta:
    name: "Check for uncommitted changes from make gen"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: '0'
      - name: Determine Go version
        id: get-go-version
        # We use .go-version as our source of truth for current Go
        # version, because "goenv" can react to it automatically.
        run: |
          echo "Building with Go $(cat .go-version)"
          echo "go-version=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "${{ steps.get-go-version.outputs.go-version }}"
      - name: Running go mod tidy
        run: |
          go mod tidy
      - name: Install Dependencies
        run: |
          make tools
      - name: Running make gen
        run: |
          make gen
      - name: Check for changes
        run: |
          git diff --exit-code
          git status --porcelain
          test -z "$(git status --porcelain)"
